<div class="flex flex-col h-screen justify-between">
  <!-- Header -->
  <!-- <app-header></app-header> -->

  <!-- Main content -->
  <div class="flex-grow flex items-center justify-center">
    <!-- Google Sign-In Button -->
    <div class="text-center">
      <button (click)="oauthSignIn()" class="signInBtn">Sign in with Google</button>
      <!-- <div id="g_id_onload" data-client_id="462804174068-i6mo9v0eg6aq2sja08f4q8a2g6admi2d.apps.googleusercontent.com"
        data-login_uri="http://localhost:4200" data-your_own_param_1_to_login="any_value"
        data-your_own_param_2_to_login="any_value">
      </div> -->
    </div>
  </div>

  <!-- Footer -->
  <app-footer></app-footer>
</div>
