<div class="flex flex-col h-screen justify-between">
  <!-- Full-Screen Loader for Fetching Sheet Data -->
  <div
    *ngIf="loadingSheetData$ | async"
    class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
  >
    <div class="loader text-lg text-center">
      <div class="mb-4">
        <!-- Spinner -->
        <svg
          class="animate-spin h-10 w-10 text-white ms-auto me-auto"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.963 7.963 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
      </div>
      <p class="text-white">Fetching sheet data, please wait...</p>
    </div>
  </div>

  <!-- Full-Screen Loader for Sending Emails -->
  <div
    *ngIf="sendingEmail$ | async"
    class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
  >
    <div class="loader text-lg">
      <div class="mb-4">
        <!-- Spinner -->
        <svg
          class="animate-spin h-10 w-10 text-white ms-auto me-auto"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.963 7.963 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
      </div>
      <p class="text-white">Sending emails, please wait...</p>
    </div>
  </div>

  <!-- Header -->
  <app-header></app-header>
  <div class="flex-grow flex items-center justify-center">
    <div class="container mx-auto mt-6 max-w-7xl">
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
        <!-- Email Sending Box (Wider) -->
        <div class="lg:col-span-2 bg-white shadow-md rounded-lg p-6">
          <h2 class="text-xl font-semibold text-gray-800 mb-4">
            Compose Email
          </h2>
          <form>
            <!-- Sender Address -->
            <div class="mb-4">
              <label
                for="senderEmail"
                class="block text-sm font-medium text-gray-700"
                >From</label
              >
              <input
                type="email"
                id="senderEmail"
                name="senderEmail"
                [(ngModel)]="senderEmail"
                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-indigo-500 focus:border-indigo-500"
                placeholder="Enter your email"
              />
            </div>

            <!-- Recipient Address -->
            <div class="mb-4">
              <label
                for="recipientEmail"
                class="block text-sm font-medium text-gray-700"
                >To</label
              >
              <input
                type="email"
                id="recipientEmail"
                name="recipientEmail"
                [(ngModel)]="recipientEmail"
                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-indigo-500 focus:border-indigo-500"
                placeholder="Enter recipient email"
              />
            </div>

            <!-- Subject -->
            <div class="mb-4">
              <label
                for="emailSubject"
                class="block text-sm font-medium text-gray-700"
                >Subject</label
              >
              <input
                type="text"
                id="emailSubject"
                name="emailSubject"
                [(ngModel)]="emailSubject"
                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-indigo-500 focus:border-indigo-500"
                placeholder="Enter subject"
              />
            </div>

            <!-- Email Body -->
            <div class="mb-4">
              <label
                for="emailBody"
                class="block text-sm font-medium text-gray-700"
                >Message</label
              >
              <textarea
                id="emailBody"
                rows="6"
                name="emailBody"
                [(ngModel)]="emailBody"
                class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-indigo-500 focus:border-indigo-500"
                placeholder="Enter your message"
              ></textarea>
            </div>

            <!-- Send Button -->
            <div class="mt-4">
              <button
                type="submit"
                [disabled]="true"
                class="w-full bg-green-500 text-white py-2 rounded-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-400"
              >
                Send
              </button>
            </div>
          </form>
        </div>

        <!-- Google Sheets Input Section (Narrower) -->
        <div class="lg:col-span-1 bg-white shadow-md rounded-lg p-6">
          <h2 class="text-xl font-semibold text-gray-800 mb-4">
            Import from Google Sheets
          </h2>
          <div class="mb-4">
            <label
              for="googleSheetURL"
              class="block text-sm font-medium text-gray-700"
              >Google Sheet URL</label
            >
            <input
              type="url"
              id="googleSheetURL"
              name="spreadsheetId"
              [(ngModel)]="spreadsheetUrl"
              (input)="extractSheetId(spreadsheetUrl)"
              class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm p-2 focus:ring-indigo-500 focus:border-indigo-500"
              placeholder="Enter Google Sheet URL"
            />
          </div>

          <div class="mt-4">
            <button
              type="button"
              (click)="loadSheetData(spreadsheetId, sheetRange)"
              class="w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400"
            >
              Load Data & Send Mail
            </button>
          </div>
          <!-- Show status for each sent email -->
        <div *ngIf="(emailSendingStatus$ | async) as emailStatus" class="flex items-center mt-4 flex-col ">
          <ng-container  *ngFor="let row of sheetData$ | async ;let i = index ">
          <!-- Adjust each row to take full width and display elements in a block style -->
      <div class="w-full bg-white p-4 rounded-md shadow mb-4">
        <div class="flex items-center">
          <!-- Email icon -->
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-blue-500 mr-2 border-1 " viewBox="0 0 24 24" fill="none" stroke="#000000">
          <path stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
          
          <!-- Status message for each email -->
          <p class="text-lg" [ngClass]="{
            'text-green-500': emailStatus[row[1]] === 'success',
            'text-red-500': emailStatus[row[1]] === 'error'
          }">
            {{ row[1] }} - {{ emailStatus[row[1]] === 'success' ? 'Email Sent Successfully' : 'Failed to Send Email' }}
          </p>
        </div>
      </div>
          </ng-container>
        </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <app-footer></app-footer>
</div>
